$color-primary: #f38e82;
$color-grad-1: #fbdb89;
$color-grad-2: #f48982;

$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #d3c7c3; // Light text (placeholder)
$color-white-1: #fff; // Normal text
$color-black-1: #222; // Normal text
$color-grey-dark-1: #615551; // Lighter text
$color-grey-dark-2: #918581; // Even lighter text

$gradient-right-top-transparent: linear-gradient(
  to right top,
  rgb(244, 136, 128, 0.6),
  rgb(244, 136, 128, 0.1),
  rgb(251, 218, 137, 0.4)
);
$gradient-to-rigth-bottom: linear-gradient(
  to right bottom,
  $color-grad-1,
  $color-grad-2
);
$gradient-to-left-top: linear-gradient(
  to left top,
  $color-grad-1,
  $color-grad-2
);
$gradient-to-right-top: linear-gradient(
  to right top,
  $color-grad-1,
  $color-grad-2
);
$gradient-to-top: linear-gradient(to top, $color-grad-1, $color-grad-2);

$font-size-46: 4.6rem;
$font-size-42: 4.2rem;
$font-size-36: 3.6rem;
$font-size-32: 3.2rem;
$font-size-24: 2.4rem;
$font-size-22: 2.2rem;
$font-size-20: 2rem;
$font-size-18: 1.8rem;
$font-size-16: 1.6rem;
$font-size-15: 1.5rem;
$font-size-14: 1.4rem;
$font-size-13: 1.3rem;
$font-size-12: 1.2rem;
$font-size-11: 1.1rem;
$font-size-10: 1rem;

$border-radius-3: 3px;
$border-radius-6: 6px;

$icons-size-1: 2.4rem;

/*
1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;

  &:focus {
    outline: 3px solid $color-grad-1;
  }
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  font-size: $font-size-16;
  font-family: 'Nunito Sans', sans-serif;
  color: $color-black-1;
}
/* Allow consistently using rem istead of px for accessibility reasons */
html {
  font-size: 62.5%; /* 100% = 16px; 62.5% = 10px = 1rem */
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
// Take out default text decoration from anchor tags:
a {
  text-decoration: none;
  color: inherit;
}
/*
  9. Create a root stacking context
*/
#root {
  isolation: isolate;
  height: 100%;
}
