.cards {
  border-radius: 1rem;
  @include box-shadow-sm(0.2);
  @include flex-column;
  justify-content: space-between;
  height: 19rem;
  padding: 1rem;
  transition: all 0.3s;
  width: 42vw;
  &:hover {
    filter: brightness(1.1);
    cursor: pointer;
  }
}

.cards-img--searchPage {
  align-self: flex-end;
  width: 2.4rem;
  background-blend-mode: color;
  border-radius: 0.2rem;
  filter: opacity(0.7);
  transition: all 0.3s;
}

.cards-name--searchPage {
  font-size: 1.4rem;
  color: $color-white-1;
}

.cards-category--searchPage {
  font-size: 1.3rem;
  color: $color-white-1;
}
