// BUTTONS
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-grad-2;
  color: $color-white-1;
  border: none;
  border-radius: $border-radius-3;
  padding: 0.4rem;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background-color: lighten($color-grad-2, 5%);
  }
}
// SOCIAL NETWORK BTNS FOR LOGIN
.btn--social {
  background-color: $color-white-1;
  color: $color-black-1;
  height: 3.2rem;
  width: 100%;

  &:hover {
    background-color: $color-white-1;
    @include box-shadow-sm(0.3);
  }

  svg {
    font-size: 1.8rem;
    color: $color-grey-dark-1;
  }
}

.btn__signin {
  height: 3.8rem;
}

// CTA button
.hero__btn {
  height: 5.2rem;
  width: 18rem;
}

// INPUTS IN GENERAL
.inputs {
  padding: 0.3rem 1rem;
  height: 3.6rem;
}

.inputs__login {
  border-style: none none solid;
  border-bottom: 1px solid lighten($color-primary, 15%);
  transition: all 0.4s;
  border-radius: $border-radius-3;
  font-size: $font-size-14;

  &:focus {
    outline: 1px solid $color-grad-1;
  }

  &:hover {
    border-bottom: 1px solid $color-primary;
  }

  &::placeholder {
    color: $color-grey-light-3;
    font-size: $font-size-13;
    font-style: italic;
  }
}

// Error message of email input (Login)
.error-el-login-inputs {
  position: absolute;
  display: inline-block;
  color: $color-grad-2;
  font-size: $font-size-12;
  font-style: italic;
  bottom: 3.4rem;
  right: 0.7rem;
}

// Message on the bottom of the login form:
.skip-login-element {
  position: absolute;
  display: inline-block;
  color: $color-grey-dark-1;
  font-size: $font-size-12;
  font-style: italic;
  bottom: 0.2rem;
  right: 0.7rem;
}

// SEARCH BAR
.search-bar {
  @include flex-column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;

  .search-bar-input {
    width: 100%;
    border: 1px solid $color-grey-light-3;
    border-radius: 1rem;

    &::placeholder {
      color: $color-grey-dark-2;
      font-size: 1.3rem;
      font-style: italic;
    }
  }

  .search-bar-icon {
    background-color: $color-primary;
    border-radius: 1rem;
    color: white;
    font-size: 3.4rem;
    padding: 5px;
  }
}
