.header {
  @include flex-column;
  gap: 2rem;
  padding: 2rem;

  .header--user {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header--user--img {
  background-color: $color-primary;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
