.home-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-grey-light-2;
  border-radius: 2rem;
  gap: 1rem;
  padding: 1rem;
  width: 15.4rem;
  margin-top: 6rem;
}

.home-card__img {
  transform: translateY(-3rem);
  aspect-ratio: 1;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  @include box-shadow-sm(0.3);
}

.home-card__tag {
  position: relative;
  width: fit-content;
  bottom: 7.4rem;
  left: 10.4rem;
}

// On Home page:
.home-cards-container {
  overflow-x: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.home-cards-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
