.home-cards-container {
  height: fit-content;
  isolation: isolate;
}

.scroll-el {
  position: absolute;
  top: 39%;
  color: lighten($color-grey-light-3, 5%);
  font-size: 2.4rem;
  z-index: 1;
  border-radius: 50%;
  @include box-shadow-sm(0.3);
}

.scroll-el--right {
  right: 0.6rem;
}

.scroll-el--left {
  left: 0.6rem;
}

.scroll-el--lower {
  top: 63%;
}

.scroll-el--categ {
  top: 5%;
  font-size: 2rem;
}

.home-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-grey-light-2;
  border-radius: 2rem;
  gap: 1rem;
  padding: 1rem;
  width: 15.4rem;
  margin-top: 6rem;
}

.home-card__img {
  transform: translateY(-3rem);
  aspect-ratio: 1;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  @include box-shadow-sm(0.3);
}

.home-card__tag {
  position: relative;
  width: fit-content;
  bottom: 7.4rem;
  left: 10.4rem;
}

// On Home page:
.home-cards-container {
  padding-left: 2rem;
  overflow-x: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.home-cards-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
