@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin box-shadow-bg($trasparency) {
  box-shadow: 0 0.3rem 1rem 0.2rem rgba(0, 0, 0, $trasparency);
}

@mixin box-shadow-sm($trasparency) {
  box-shadow: 0 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, $trasparency);
}

// @mixin after-pseudo-el-login($content) {
//   content: $content;
//   position: absolute;
//   display: inline-block;
//   color: $color-grad-2;
//   font-size: $font-size-11;
//   font-style: italic;
//   bottom: 3rem;
//   right: 0.7rem;
// }
