@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin box-shadow-bg($trasparency) {
  box-shadow: 0 0.3rem 1rem 0.2rem rgba(0, 0, 0, $trasparency);
}

@mixin box-shadow-sm($trasparency) {
  box-shadow: 0 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, $trasparency);
}
