// SEARCH BAR
.search-bar {
  @include flex-column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;

  .search-bar__icon-search {
    position: absolute;
    fill: $color-grey-dark-2;
    top: 50%;
    left: 0.6rem;
    height: 1.8rem;
    width: 1.8rem;
    transform: translateY(-50%);
  }

  .search-bar-input {
    width: 100%;
    border: 1px solid $color-grey-light-3;
    border-radius: 1rem;
    padding-left: 3rem;
    font-size: 1.4rem;

    &::placeholder {
      color: $color-grey-dark-2;
      font-size: 1.3rem;
      font-style: italic;
    }
  }

  .search-bar-icon {
    background-color: $color-primary;
    border-radius: 1rem;
    color: white;
    font-size: 3.4rem;
    padding: 5px;
  }
}
