// %%%%%%%%%%%%%%
// Typography
// %%%%%%%%%%%%%%
.link {
  color: $color-primary;
  font-weight: 600;
  transition: all 0.4s;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.require-indicator {
  color: $color-primary;
}

// Font sizes
.fs-10 {
  font-size: 1rem;
}

.fs-11 {
  font-size: 1.1rem;
}

.fs-12 {
  font-size: 1.2rem;
}

.fs-13 {
  font-size: 1.3rem;
}

.fs-14 {
  font-size: 1.4rem;
}

.fs-15 {
  font-size: 1.5rem;
}

.fs-16 {
  font-size: 1.6rem;
}

.fs-18 {
  font-size: 1.8rem;
}

.fs-20 {
  font-size: 2rem;
}

.fs-22 {
  font-size: 2.2rem;
}

.fs-24 {
  font-size: 2.4rem;
}

.fs-32 {
  font-size: 3.2rem;
}

// Font colors
.color-primary {
  color: $color-primary;
}
.color-grad-1 {
  color: $color-grad-1;
}
.color-grad-2 {
  color: $color-grad-2;
}
.color-white-1 {
  color: $color-white-1;
}
.color-black-1 {
  color: $color-black-1;
}
.color-grey-dark-1 {
  color: $color-grey-dark-1;
}
.color-grey-dark-2 {
  color: $color-grey-dark-2;
}
.color-grey-light-1 {
  color: $color-grey-light-1;
}
.color-grey-light-2 {
  color: $color-grey-light-2;
}
.color-grey-light-3 {
  color: $color-grey-light-3;
}

// Font weigth
.fw-600 {
  font-weight: 600;
}

// Font styles
.fstyle-i {
  font-style: italic;
}
.td-lt {
  text-decoration: line-through;
}

// Font align
.ta-center {
  text-align: center;
}

// %%%%%%%%%%%%%%
// Colors
// %%%%%%%%%%%%%%
.bg-color-main {
  background-color: $color-primary;
}
.bg-fade {
  filter: blur(5px);
}
// %%%%%%%%%%%%%%
// Layout
// %%%%%%%%%%%%%%
// Containers
.page-container {
  z-index: -1;
  padding: 2rem;
}
// Paddings
.pd-reset {
  padding: 0;
}
.pd-all-3 {
  padding: 3rem;
}
.pad-2 {
  padding: 2rem;
}
.pad-1 {
  padding: 1rem;
}
.pad-05 {
  padding: 0.5rem;
}
.pad-02 {
  padding: 0.2rem;
}
.pad-top-1 {
  padding-top: 1rem;
}
// BORDERS
.br-1 {
  border-radius: 1rem;
}
.br-round {
  border-radius: 50%;
}
.b-all-white-1 {
  border: 1px solid $color-white-1;
}
// Widths and heights
.width-100percent {
  width: 100%;
}
.width-heigth-2 {
  width: 2rem;
  height: 2rem;
}
.heigth-0 {
  height: 0;
}
.heigth-19 {
  height: 1.9rem;
}
.heigth-30 {
  height: 3rem;
}
.heigth-40 {
  height: 4rem;
}
.heigth-50 {
  height: 5rem;
}
// Positions
.pos-abs {
  position: absolute;
}
.pos-rel {
  position: relative;
}
// Flex
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-align {
  align-items: center;
}
.flex-align-end {
  align-self: flex-end;
}
.flex-a-end {
  align-items: flex-end;
}
.flex-aself-c {
  align-self: center;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-self-center {
  justify-self: flex-start;
}
.flex-gap-02 {
  gap: 0.2rem;
}
.flex-gap-04 {
  gap: 0.4rem;
}
.flex-gap-06 {
  gap: 0.6rem;
}
.flex-gap-08 {
  gap: 0.8rem;
}
.flex-gap-10 {
  gap: 1rem;
}
.flex-gap-12 {
  gap: 1.2rem;
}
.flex-gap-14 {
  gap: 1.4rem;
}
.flex-gap-16 {
  gap: 1.6rem;
}
.flex-gap-18 {
  gap: 1.8rem;
}
.flex-gap-20 {
  gap: 2rem;
}
.flex-gap-24 {
  gap: 2.4rem;
}
// Grids
.grid-6-cols {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
}
.center-on-grid-6-cols {
  grid-column: 2 / 6;
}
