// Typograpghy
.link {
  color: $color-primary;
  font-weight: 600;
  transition: all 0.4s;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

// Layout
.width-100percent {
  width: 100%;
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}
