/*
1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}
*:focus {
  outline: 3px solid #fbdb89;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  font-size: 1.6rem;
  font-family: "Nunito Sans", sans-serif;
  color: #222;
}

/* Allow consistently using rem istead of px for accessibility reasons */
html {
  font-size: 62.5%; /* 100% = 16px; 62.5% = 10px = 1rem */
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

input:checked {
  outline: none;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

/*
  9. Create a root stacking context
*/
#root {
  isolation: isolate;
  height: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f48982;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.4rem;
  transition: all 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: #f69f99;
}

.btn--social {
  background-color: #fff;
  color: #222;
  height: 3.2rem;
  width: 100%;
}
.btn--social:hover {
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
}
.btn--social svg {
  font-size: 1.8rem;
  color: #615551;
}

.btn__signin {
  height: 3.8rem;
}

.hero__btn {
  height: 5.2rem;
  width: 18rem;
}

.inputs {
  padding: 0.3rem 1rem;
  height: 3.6rem;
}

.inputs__login {
  border-style: none none solid;
  border-bottom: 1px solid #facdc8;
  transition: all 0.4s;
  border-radius: 3px;
  font-size: 1.4rem;
}
.inputs__login:focus {
  outline: 1px solid #fbdb89;
}
.inputs__login:hover {
  border-bottom: 1px solid #f38e82;
}
.inputs__login::placeholder {
  color: #d3c7c3;
  font-size: 1.3rem;
  font-style: italic;
}

.error-el-login-inputs {
  position: absolute;
  display: inline-block;
  color: #f48982;
  font-size: 1.2rem;
  font-style: italic;
  bottom: 3.4rem;
  right: 0.7rem;
}

.skip-login-element {
  position: absolute;
  display: inline-block;
  color: #615551;
  font-size: 1.2rem;
  font-style: italic;
  bottom: 0.2rem;
  right: 0.7rem;
}

.link {
  color: #f38e82;
  font-weight: 600;
  transition: all 0.4s;
}
.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.require-indicator {
  color: #f38e82;
}

.fs-10 {
  font-size: 1rem;
}

.fs-11 {
  font-size: 1.1rem;
}

.fs-12 {
  font-size: 1.2rem;
}

.fs-13 {
  font-size: 1.3rem;
}

.fs-14 {
  font-size: 1.4rem;
}

.fs-15 {
  font-size: 1.5rem;
}

.fs-16 {
  font-size: 1.6rem;
}

.fs-18 {
  font-size: 1.8rem;
}

.fs-20 {
  font-size: 2rem;
}

.fs-22 {
  font-size: 2.2rem;
}

.fs-24 {
  font-size: 2.4rem;
}

.fs-32 {
  font-size: 3.2rem;
}

.color-primary {
  color: #f38e82;
}

.color-grad-1 {
  color: #fbdb89;
}

.color-grad-2 {
  color: #f48982;
}

.color-white-1 {
  color: #fff;
}

.color-black-1 {
  color: #222;
}

.color-grey-dark-1 {
  color: #615551;
}

.color-grey-dark-2 {
  color: #918581;
}

.color-grey-light-1 {
  color: #f9f5f3;
}

.color-grey-light-2 {
  color: #f2efee;
}

.color-grey-light-3 {
  color: #d3c7c3;
}

.fw-600 {
  font-weight: 600;
}

.fstyle-i {
  font-style: italic;
}

.td-lt {
  text-decoration: line-through;
}

.ta-center {
  text-align: center;
}

.bg-color-main {
  background-color: #f38e82;
}

.bg-fade {
  filter: blur(5px);
}

.page-container {
  z-index: -1;
  padding: 2rem;
}

.pd-reset {
  padding: 0;
}

.pd-all-3 {
  padding: 3rem;
}

.pad-2 {
  padding: 2rem;
}

.pad-1 {
  padding: 1rem;
}

.pad-05 {
  padding: 0.5rem;
}

.pad-02 {
  padding: 0.2rem;
}

.br-1 {
  border-radius: 1rem;
}

.br-round {
  border-radius: 50%;
}

.b-all-white-1 {
  border: 1px solid #fff;
}

.width-100percent {
  width: 100%;
}

.width-heigth-2 {
  width: 2rem;
  height: 2rem;
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-align {
  align-items: center;
}

.flex-align-end {
  align-self: flex-end;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-self-center {
  justify-self: flex-start;
}

.flex-gap-02 {
  gap: 0.2rem;
}

.flex-gap-04 {
  gap: 0.4rem;
}

.flex-gap-06 {
  gap: 0.6rem;
}

.flex-gap-08 {
  gap: 0.8rem;
}

.flex-gap-10 {
  gap: 1rem;
}

.flex-gap-12 {
  gap: 1.2rem;
}

.flex-gap-14 {
  gap: 1.4rem;
}

.flex-gap-16 {
  gap: 1.6rem;
}

.flex-gap-18 {
  gap: 1.8rem;
}

.flex-gap-20 {
  gap: 2rem;
}

.flex-gap-24 {
  gap: 2.4rem;
}

.grid-6-cols {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
}

.center-on-grid-6-cols {
  grid-column: 2/6;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-image: linear-gradient(to right top, rgba(244, 136, 128, 0.6), rgba(244, 136, 128, 0.1), rgba(251, 218, 137, 0.4)), url("../assets/pablo-merchan-montes-Orz90t6o0e4-unsplash.webp");
  background-position: center;
  background-size: cover;
}

.form-login {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 1rem 3rem;
}
.form-login .form-login__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  padding: 1.8rem 0;
  text-align: center;
}
.form-login .form-login__header img {
  width: 8rem;
}
.form-login .form-login__body {
  color: #222;
  border: 1px solid #fff;
  padding: 3rem 1.3rem 5rem;
  border-radius: 3px;
  box-shadow: 0 0.3rem 1rem 0.2rem rgba(0, 0, 0, 0.5);
  background-color: #f9f5f3;
}
.form-login .form-login__body .form-login__inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-login .form-login__body .form-login__actions-btns {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-top: 1.8rem;
}
.form-login .form-login__body .form-login__actions-btns .form-login__remember-forgot {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 0.5rem;
  justify-content: space-between;
  font-size: 1.3rem;
}
.form-login .form-login__body .form-login__actions-btns .form-login__hrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-login .form-login__body .form-login__actions-btns .form-login__hrows hr {
  width: 100%;
  height: 1px;
  color: #f9f5f3;
}
.form-login .form-login__body .form-login__actions-btns .form-login__hrows p {
  font-size: 1.4rem;
  white-space: nowrap;
}
.form-login .form-login__body .form-login__actions-btns .form-login__socialBtns {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10rem 1rem 14rem;
  background-image: linear-gradient(to right top, rgba(244, 136, 128, 0.6), rgba(244, 136, 128, 0.1), rgba(251, 218, 137, 0.4)), url("../assets/pablo-merchan-montes-Orz90t6o0e4-unsplash.webp");
  background-position: center;
  background-size: cover;
}
.hero img {
  width: 12rem;
}
.hero .hero-cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.4rem;
}
.hero .hero-cta-container .hero-cta-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.hero .hero-cta-container .hero-cta-text .hero-cta-heading {
  font-size: 4.2rem;
  letter-spacing: 1.2px;
}
.hero .hero-cta-container .hero-cta-text .hero-cta-subheading {
  font-size: 2.2rem;
  color: #fff;
}
.hero .hero-cta-container a {
  text-decoration: none;
}
.hero .hero-cta-container a .hero__icon {
  width: 2.4rem;
  height: 2.4rem;
  fill: #fff;
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.search-bar .search-bar-input {
  width: 100%;
  border: 1px solid #d3c7c3;
  border-radius: 1rem;
}
.search-bar .search-bar-input::placeholder {
  color: #918581;
  font-size: 1.3rem;
  font-style: italic;
}
.search-bar .search-bar-icon {
  background-color: #f38e82;
  border-radius: 1rem;
  color: white;
  font-size: 3.4rem;
  padding: 5px;
}

.search {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.search--top-left-arrow {
  fill: #222;
  width: 2.4rem;
  height: 2.4rem;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
}
.header .header--user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header--user--img {
  background-color: #f38e82;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.cards {
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25vh;
  padding: 1rem;
  transition: all 0.3s;
  width: 42vw;
}
.cards:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.cards-img--searchPage {
  align-self: flex-end;
  width: 2.4rem;
  background-blend-mode: color;
  border-radius: 0.2rem;
  filter: opacity(0.7);
  transition: all 0.3s;
}

.cards-name--searchPage {
  font-size: 1.4rem;
  color: #fff;
}

.cards-category--searchPage {
  font-size: 1.3rem;
  color: #fff;
}

.details-img {
  height: 18rem;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  justify-content: flex-end;
  padding: 1rem;
}

.details-img--fake-player::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: #f9f5f3;
  z-index: 0;
}
.details-img--fake-player::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
  border-radius: 3px;
  height: 0;
  width: 0;
  border-top: 1rem solid transparent;
  border-left: 2rem solid #f48982;
  border-bottom: 1rem solid transparent;
}

.details-video {
  height: 18rem;
  width: 100%;
}

.details-img__flag {
  height: 2rem;
  border-radius: 0.3rem;
  filter: opacity(0.7);
}

.details-title {
  display: flex;
  align-items: center;
}
.details-title .details-title--heading {
  font-size: 1.8rem;
  font-weight: 600;
  flex-grow: 2;
}
.details-title .details-title--reviews {
  color: #918581;
  font-size: 1.2rem;
  flex-grow: 1;
  text-align: end;
}

.details-tags {
  background: #fbdb89;
  color: #615551;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.2rem 0.6rem;
  border-radius: 2rem;
}

.details-tabs {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f2efee;
  cursor: pointer;
  justify-content: space-between;
}
.details-tabs div {
  flex-grow: 1;
  text-align: center;
}

.details-tabs__links {
  border: none;
  background-color: inherit;
  color: #615551;
  cursor: pointer;
  font-weight: 600;
  flex-grow: 1;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  flex-basis: 1;
  transition: all 0.3s;
}
.details-tabs__links:focus {
  outline: none;
}

.details-tabs__links--active {
  outline: 1px solid #f38e82;
}

.details-meal-icon {
  color: #918581;
}

.details-ing-ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.details-ing-li {
  display: flex;
  justify-content: space-between;
  background-color: #f9f5f3;
  border-radius: 1rem;
  list-style: none;
  padding: 1.6rem;
  width: 100%;
}
.details-ing-li .details-ing-li--ing {
  font-size: 1.4rem;
  font-weight: 600;
}
.details-ing-li .details-ing-li--measure {
  color: #918581;
  font-size: 1.4rem;
}

.details-procedures-li {
  display: flex;
  flex-direction: column;
  background-color: #f9f5f3;
  border-radius: 1rem;
  padding: 1.2rem;
}
.details-procedures-li .details-proc-li--heading {
  font-weight: 600;
  font-size: 1.4rem;
}
.details-procedures-li .details-proc-li--body {
  font-size: 1.4rem;
}

.author-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.author-location-mark {
  color: #f48982;
}

.author-flw-btn {
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.4rem;
  border-radius: 2rem;
  outline: none;
  width: 8rem;
  transition: all 0.4s;
}

.author-flw--false {
  color: #fff;
  background-color: #f38e82;
}

.author-flw--true {
  background-color: inherit;
  border: 1px solid #f38e82;
  color: #f38e82;
}

.top-nav-dots-menu {
  cursor: pointer;
}

.top-nav-left-arrow {
  cursor: pointer;
  fill: #222;
  width: 2.4rem;
  height: 2.4rem;
}

.nav-menu-bg {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  z-index: 98;
  height: 100vh;
  width: 100vw;
  animation: entrance 0.3s normal;
}

.nav-menu {
  background-color: #fff;
  border-radius: 1rem 0 1rem 1rem;
  color: #222;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.4rem;
  position: absolute;
  top: 4.5rem;
  right: 3rem;
  z-index: 99;
  animation: entrance 0.3s normal;
  filter: none;
}

@keyframes entrance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
